<section class="section section-{{template}} {{style.sectionClass}}">
  {{#if overlay}}
  <div class="hero-overlay bg-opacity-80 bg-base-100"></div>
  {{/if}}
  {{#if fullWidth}}
  <div class="{{style.sectionFullWidthClass}}">
    {{/if}}
    {{#if (and heading (not (eq template "hero")))}}
    {{>section-title heading }}
    {{/if}}

    <div class="section__content {{style.sectionContentClass}}">
      {{#if (eq template "example")}}
      {{>example this}}
      {{else}}
      {{>grid}}
      {{/if}}
    </div>
    {{#if (eq divider "desktop")}}
    <div class="hidden md:flex divider divider-secondary w-[100vw] lg:max-w-full -translate-x-4 lg:translate-x-0 lg:self-center"></div>
    {{else if divider}}
    <div class="divider divider-secondary w-[100vw] lg:max-w-full -translate-x-8 lg:translate-x-0 lg:self-center overflow-hidden"></div>
    {{/if}}
    {{#if footer}}
    <div class="section__footer {{style.sectionFooterClass}}">
      {{{footer}}}
    </div>
    {{/if}}

    {{#if fullWidth}}
  </div>
  {{/if}}
</section>