{{#if container}}

<div class="{{containerClass}}">
  {{#if caption}}
  <p class="{{captionClass}}">{{captionText}}</p>
  {{/if}}
  {{#if title}}
  <h{{titleLevel}} class="{{titleClass}}">{{title}}</h{{titleLevel}}>
  {{/if}}
  {{#if description}}
  <p class="{{descriptionClass}}">{{description}}</p>
  {{/if}}
</div>

{{else}}

{{#if caption}}
<p class="{{captionClass}}">{{captionText}}</p>
{{/if}}
{{#if title}}
<h{{titleLevel}} class="{{titleClass}}">{{title}}</h{{titleLevel}}>
{{/if}}
{{#if description}}
<p class="{{descriptionClass}}">{{description}}</p>
{{/if}}

{{/if}}